* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --verde: #305252;
  --verde-claro: #488286;
  --celeste-claro: #b7d5d4;
  --gris: #77878b;
  --gris-oscuro: #46a1ba;

  --black: #000000;
  --onyx: #363946;
  --onyx-claro: #696773;
  --cadet-grey: #819595;
  --ash-grey: #b1b6a6;
  --aver: #c74a56;

  --marron-fondo: #42330ae4;
  --violeta-claro: #82486e;
  --violeta-oscuro: #3e2c4d;
  --azul-oscuro: #466376;
  --azul-principal: #214f86;

  --claro: #888168;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* body {
  background-image: radial-gradient(
    circle at left,

    var(--gris-oscuro),
    var(--verde-claro)
  );
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
} */
body {
  background-image: linear-gradient(to bottom right, #62da47, #18d3d3);
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", "Noto Sans", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}
.navbar__list-item {
  margin-right: 3rem;
  display: inline-block;
  cursor: pointer;
}
.navbar__list-item a {
  display: inline-block;
  font-size: 16px;
  color: #222222;
  text-decoration: none;
  letter-spacing: 3px;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 300ms ease-out;
}
.navbar__list-item a:hover {
  border: 1px solid black;
}

.navbar__list-item a.white-text {
  color: #a0d4a6;
  border: 1px solid transparent;
}

.navbar__list-item a.white-border:hover {
  border: 1px solid #a0d4a6;
}
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-align: center;
  color: #222222;
}

.hero__title {
  font-weight: 600;
  font-size: 8.5rem;
}

.hero__description {
  letter-spacing: 4px;
  font-size: 2em;
  text-transform: uppercase;
}

.social {
  position: fixed;
  top: 50%;
  transform: translateY(-30%);
  right: 3rem;
  list-style: none;
  font-size: 4rem;
}

.social__list-item {
  margin-bottom: 3rem;
  font-size: 3.5rem;
}

.social__list-item a {
  transition: 300ms ease-out;
  color: #222222;
  opacity: 0.7;
}
.social__list-item a:hover {
  opacity: 1;
}

.section__sobre-mi {
  background-color: #222222;
  min-height: 100vh;
  padding: 40px;
  color: #a0d4a6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-text {
  margin-left: 20px;
}
.titulo-sobremi {
  text-transform: uppercase;
  font-size: 5rem;
  mix-blend-mode: color-dodge;
  margin-bottom: 2rem;
}
.p-sobremi {
  max-width: 60ch;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
}
.p-sobremi + .p-sobremi {
  margin-top: 20px;
}
.foto-perfil {
  width: 380px;
}

.section__habilidades {
  background-color: var(----gris-oscuro);
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  color: #222222;
  display: flex;
  align-items: center;
}
.section__container {
  max-width: 108rem;
  margin: 0 auto;
}

.titulo-habilidades {
  line-height: 1.2;
  /* left: 32rem; */
  /* margin-left: 10px; */
  text-transform: uppercase;
  font-size: 5rem;
}
.titulo-habilidades::after {
  content: "";
  display: block;
  background-color: currentColor;
  height: 0.3rem;
  margin-top: 1rem;
}
.container-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container-icons article {
  margin: 2rem 8rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 15rem;
}
.container-icons p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  width: 10ch;
  color: #222222;
}

.section__proyectos {
  width: 100%;
  background-color: #222222;
  min-height: 100vh;
  padding: 40px;
  color: #a0d4a6;
  display: flex;
  justify-content: center;
}

.proyectos-titulo {
  margin-top: 10rem;
  text-transform: uppercase;
  font-size: 5rem;
  mix-blend-mode: color-dodge;
}

.section__contacto {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #222222;
}
.contacto-titulo {
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 10rem;
}

.formulario {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.formulario input,
textarea {
  width: 90%;
  border-radius: 3px;
  border: none;
  font-size: 1.5rem;
  color: rgb(235, 255, 216);
}
input {
  margin: 0 0 1.5rem 0;
  padding: 1.3rem;
  background-color: rgba(34, 34, 34, 0.783);
}
textarea {
  padding: 1.3rem;
  margin-bottom: 3rem;
  background-color: rgba(34, 34, 34, 0.783);
}
.button {
  background-color: rgba(34, 34, 34, 0.557);
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(235, 255, 216);
  font-family: "Unbounded", "Noto Sans", sans-serif;
  letter-spacing: 1px;
  box-shadow: 0px 2px 12px rgba(50, 50, 50, 0.208);
  transition: 300ms ease-out;
}
.button:hover {
  background-color: rgba(75, 75, 75, 0.557);
}
