* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --verde: #305252;
  --verde-claro: #488286;
  --celeste-claro: #b7d5d4;
  --gris: #77878b;
  --gris-oscuro: #46a1ba;

  --black: #000000;
  --onyx: #363946;
  --onyx-claro: #696773;
  --cadet-grey: #819595;
  --ash-grey: #b1b6a6;
  --aver: #c74a56;

  --marron-fondo: #42330ae4;
  --violeta-claro: #82486e;
  --violeta-oscuro: #3e2c4d;
  --azul-oscuro: #466376;
  --azul-principal: #214f86;

  --claro: #888168;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(
    circle at left,

    var(--gris-oscuro),
    /* var(--azul-oscuro), */ var(--verde-claro) /* var(--violeta-oscuro), */
      /* var(--azul-principal), */ /* var(--marron-fondo), */ /* var(--aver) */
  );
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", "Noto Sans", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.navbar__list-item {
  margin-right: 3rem;
  display: inline-block;
  cursor: pointer;
}
.navbar__list-item a {
  display: inline-block;
  font-size: 16px;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 300ms ease-out;
}
.navbar__list-item a:hover {
  border: 1px solid black;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-align: center;
}

.hero__title {
  font-weight: 600;
  font-size: 8.5rem;
}

.hero__description {
  letter-spacing: 4px;
  font-size: 2em;
  text-transform: uppercase;
}

.social {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 3rem;
  list-style: none;
  font-size: 4rem;
}

.social__list-item {
  margin-bottom: 3rem;
  font-size: 3.5rem;
  transition: 300ms ease-out;
  color: rgba(11, 11, 11, 0.7);
}

.social__list-item:hover {
  color: black;
}

.social__list-item a {
  color: currentColor;
}

/* .main {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.section__sobre-mi {
  background-color: var(--azul-principal);
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sobremi {
  padding: 50px;
  width: 50%;
  min-height: 300px;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  isolation: isolate;
  color: #f3ebeb;
}
.titulo-sobremi {
  text-transform: uppercase;
  font-size: 5rem;
  mix-blend-mode: color-dodge;
  transform: translateX(22rem) translateY(-3rem);
  margin-bottom: 2rem;
}
.p-sobremi {
  font-size: 2rem;
  line-height: 1.5;
  transform: translateX(22rem) translateY(-3rem);
  letter-spacing: 1.5px;
  text-align: left;
}
.foto-perfil {
  position: absolute;
  left: -14rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 380px;
}

.section__habilidades {
  background-color: var(----gris-oscuro);
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
}

/* .titulo-habilidades {
  display: inline;
  width: 100%;
} */
